<div>
  <p>Escribe el numero de id para eliminar el producto</p>
  <input id="chatbox" type="text">

  <p>Si quieres agregar un nuevo producto llena los campos porfavor</p>
  <form id="newProduct">
    <input id="newTitleProd" type="text">
    <input id="newPriceProd" type="text">
    <button type="submit">guardar producto</button>
  </form>
</div>
<h1>Productos</h1>

<div id="productos">
</div>




<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>
